.cart-page{

    margin: 100px;
    color: white;
    

}

table{
    width: 100%;
    border-collapse: collapse;
}

.cart-info{
    display: flex;
    flex-wrap: wrap;
}

th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background-color: #ff523b;
    
}


td{
    padding: 10px 5px;
}

td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: #ff523b;
    font-size: 12px;
}
td img{
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border-radius: 3px;
}
.total-price{

    display: flex;
    justify-content: flex-end;
    
}

.total-price table{

    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 400px;
   
}

td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}