@mixin size($width, $height, $br){
    width: $width;
    height: $height;
    border-radius: $br;
}

/* ESTILOS FOOTER */

.footer--Copy{

    background-color: rgb(39, 39, 39);
    bottom: 0;
    width: 100%;
    color: $azure;
    font-family: 'Dongle', sans-serif;
    font-size: 20px;   
}


.footerFont{
    font-size: 20px;
    color: black;
}


.footerCopy{
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.news--Left{

    display: flex;
    justify-content: center;
    font-family: 'Bebas Neue', cursive;
    

    
}


.text--Color{

    color: $lime;
}

.margin--Top{
    margin-top: 20px;
    margin-bottom: 20px;
}
.margin-footer{
    margin-top: 20px;

}

.other--Size {
    @include size(30%, 30%, 8px)
}

.other--Size--E {
    @include size(50%, 50%, 8px)
}

.media-margin{

    margin-right: 35px;
    

}

.media-color{
    color: $azure;
}