/* ESTILOS HEADER y NAVBAR */

header{
    
    background-image:linear-gradient($lightyellow , $charcoal 170%);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    
}

ul{

    list-style: none;
    list-style-image: none;
    
}

nav{

    font-family: 'Bebas Neue', cursive;
    font-size: 22px;
    
    
}

.logoSize{

    width: 2rem;
    height: 2rem;


}

.navLetters{
    color: $blue;
}

.logoSize2{

    width: 2rem;
    height: 2rem;


}

.this--Section{
    
    color: $redtree;
    
}

.section--Menu:hover{
    color: $yellowgreen;
    background-color: $charcoal;
    border-radius: 5px;
    
}



li{

    display: inline-block;
    
    margin: 5px;
    
    padding-left: 2px;
    
}

a{
    text-decoration: none;
}