/* ESTILOS HEADER y NAVBAR */

header{
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    
}

ul{

    list-style: none;
    list-style-image: none;
    
}

nav{
    width: 100%;
    background-image:linear-gradient($lightyellow , $charcoal 170%);
    font-family: 'Bebas Neue', cursive;
    font-size: 22px;
    color: black;
    
    
    
}

.blackLetter{
    color: black;
}

.offcanvasColor{

    background-image:linear-gradient($lightyellow , $charcoal 120%);
}

.fixButton{
    width: 40%;
}

.logoSize{

    width: 2rem;
    height: 2rem;


}

.navLetters{
    color: $blue;
}

.logoSize2{

    width: 2rem;
    height: 2rem;


}

.this--Section{
    
    color: $redtree;
    
}

.section--Menu:hover{
    color: $yellowgreen;
    background-color: $charcoal;
    border-radius: 5px;
    width: 25%;
    
}



li{

    display: inline-block;
    
    margin: 5px;
    
    padding-left: 2px;
    
}

a{
    text-decoration: none;
}

