@mixin size($width, $height, $br){
    width: $width;
    height: $height;
    border-radius: $br;
}


/* DESKTOP */

@media(min-width:1200px){

    .cart-page{

        margin: 3%;
        color: white;
        
    
    }
    
    

    td:last-child{
        text-align: right;
    }
    th:last-child{
        text-align: right;
    }

    .normal--Size{
    
        @include size(40%, 40%, 40px);
    }
    
    .normal--Size2{
    
        @include size(42%, 42%, 40px);
    }
    
    .otherSize{
        
        @include size(85%, 85%, 15px);
    }

    

    .sizeVideo{
        @include size(675px, 380px, 10px)
    }

    
    }

/* TABLET */

@media(min-width: 576px) and (max-width: 1199px){
    
    .cart-page{

        margin: 3%;
        color: white;
        
    
    }

    

    td:last-child{
        text-align: end;
    }
    th:last-child{
        text-align: end;
    }
    
    nav{
    
        font-family: 'Bebas Neue', cursive;
        
    }
    .rebaja__Style{

        font-weight: bold;
        font-size: 22px;
        font-family: 'Bebas Neue', cursive;
        color: $lime;
        display: flex;
        justify-content: center;
        text-align: center;
    
        
        
    }
    
    .normal--Size{
    
        @include size(55%, 55%, 40px);
    }

    .normal--Size2{
    
    
        @include size(59%, 59%, 40px);
    }
    
    .otherSize{
        
        @include size(85%, 85%, 15px);
    }
    
    .container {
        
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 2fr 2fr;
        grid-template-areas: 
          "photo photo"
          "photo photo"
      }

    
    .photo {
    grid-area: photo;
    
    }
    
    .photo > img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        
        
        
      }

    .navStyle {
        font-family: 'Bebas Neue', cursive;
        font-size: 18px;
        height: 120px;
        margin: 10px;
        width: 15%;
    }

    .sales {
        font-family: 'Fjalla One', sans-serif;
        font-size: 12px;
    }

    .sizeVideo{
        @include size(445px, 250px, 10px)
    }
    
    .fontEmpresa{

        font-family: 'Open Sans', sans-serif;
        color: $white;
        width: 90%;
    }
    
    .locales{

        font-family: 'Bebas Neue', cursive;
        font-size: 1.1rem;
    }

    .gMaps{

        width: 95%;
        height: 200px;
        margin-left: 20px;
    }

    .containerLocales{
 
        margin: 15px;
        display: grid;
        
            grid-template-rows: 1fr 1fr 1fr 1fr;
            grid-template-columns: 22% auto;
            grid-template-areas: 
              "localesNav gmaps-position"
              "localesNav gmaps-position2"
              "localesNav gmaps-position3"
              "localesNav gmaps-position4"
              
              
    
    }
    .containerFooter{

        display: grid;
    
        justify-content: space-between;
        
    
        grid-template-areas: 
        "copyArea goUp"
        
    
    
    
    }
    
    
    .copyArea{
    
        @include gridItem(copyArea);
    }
    .goUp{
    
        @include gridItem(goUp);
    }
}

/* SMARTPHONE */

@media(max-width:575px){

    .footer--Copy{

        background-color: rgb(39, 39, 39);
        position: relative;
        display: flex;
        bottom: 0;
        width: 100%;
        justify-content: center;
        color: $azure;
        font-family: 'Dongle', sans-serif;
        font-size: 20px;
        padding-top: 10px;
        
    }

    nav{
    
        font-family: 'Bebas Neue', cursive;
        
        
    }
    
    .rebaja__Style{
    
        font-weight: bold;
        font-family: 'Bebas Neue', cursive;
        color: $lime;
        display: flex;
        justify-content: center;
        font-size: 20px;
        text-align: center;
        width: 100%;
        
    }
    
    .normal--Size{
        

        @include size(90%, 100%, 0px);
    }
    
    .normal--Size2{
      
        @include size(100%, 200%, 0px);
    }
    
    .otherSize{
        @include size(80%, 80%, 10px);
    }
    
    
    .news--media{
    
        text-align: center;
        font-family: 'Bebas Neue', cursive;
        font-size: 20px;
    }
    
    .news--Left{
    
        text-align: left;
        font-family: 'Bebas Neue', cursive;
        
        color: $azure;
        margin-left: 10px;
        
    }

    .navStyle {
        font-family: 'Bebas Neue', cursive;
        font-size: 12px;
        height: 80px;
        margin: 10px;
        width: 20%;
    }
    
    .sales {
        font-family: 'Fjalla One', sans-serif;
        font-size: 12px;
    }

    .sizeVideo{
        @include size(345px, 194px, 10px)
    }

    .fontEmpresa{

        font-family: 'Open Sans', sans-serif;
        color: $white;
        width: 90%;
    }

    .locales{

        font-family: 'Bebas Neue', cursive;
        font-size: 0.9rem;
    }

    .gMaps{

        width: 95%;
        height: 200px;
        margin-left: 20px;
    }

    .containerLocales{
 
        margin: 15px;
        display: grid;
        
            grid-template-rows: 1fr 1fr 1fr 1fr;
            grid-template-columns: 22% auto;
            grid-template-areas: 
              "localesNav gmaps-position"
              "localesNav gmaps-position2"
              "localesNav gmaps-position3"
              "localesNav gmaps-position4"
              
              
    
    }

    .containerFooter{

        display: grid;
    
        justify-content: space-between;
        grid-template-rows: auto ;
    
        grid-template-areas: 
        "copyArea goUp"
        
    
    
    
    }
    

    .copyArea{
    
        @include gridItem(copyArea);
    }
    .goUp{
    
        @include gridItem(goUp);
    }

    .cart-info p{
        display: none;
    }
    
    .text-sm{
        display: none;
    }
    table{
        width: 100%;
    }

    .cart-page{
        margin: 5%;
        color: white;
    }

    

    td:last-child{
        text-align: end;
    }   
    th:last-child{
        text-align: end;
    }
    
    #table-foot{
        display: flex;
        justify-content: flex-end;
    }

    }