/* TRANSITIONS */

.transitionSize{
    transition: all 1s;
}

.transitionSize:hover{

    width: 65%;
    height: 65%;

}

.imageAnimation{

    animation-name: image;
    animation-iteration-count: 1;
    animation-duration: 2s;
}

@keyframes image {
    

    from{

        opacity: 0;


    }

    to{
        opacity: 1;
    }
}